@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

a {
    text-decoration: none;
    color: white;
}

.HomePage-Navbar {
    font-family: Poppins;
    font-weight: 700;
    background-color: black;

    width: 100vw;
    height: 75px;

    color: white;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.HomePage-Navbar-Items {
    width: 40vw;
    height: 100%;

    font-size: 1.2rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;

}

.HomePage-Navbar-Logo {
    width: 180px;
    /* height: 90px; */
}

.HomePage-Navbar-Pointer:hover {
    cursor: pointer;
}

.HomePage-Navbar-Items-Dashboard-Button {
    background-color: #AB745A;
    height: 100%;
    border-radius: 20px;

    /* height: 30px; */

    display: flex;
    align-items: center;
    justify-content: center;

    /* padding: 5px; */
}

.HomePage-Navbar-Items-Dashboard {
    width: 130px;
    height: 60%;
}

.HomePage-Navbar-Items-Dashboard-Text {
    /* padding: 5px; */
    /* margin: 5px; */
}





@media (max-width: 1400px) {
    .HomePage-Navbar {
      background-color: green;
    }
}
.burger-menu-icon {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
}

.burger-menu-icon div {
    width: 2rem;
    height: 0.25rem;
    background-color: white;
}

/* Dropdown menu stijlen */
.dropdown {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 75px; /* Pas aan op basis van de hoogte van je navbar */
    width: 100%;
    background-color: black;
}

.dropdown a {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid white;
}

/* Media query voor schermen kleiner dan 600 pixels */
@media (max-width: 600px) {
    .HomePage-Navbar-Items {
        display: none;
    }
    
    .burger-menu-icon {
        display: flex;
    }

    .dropdown {
        display: flex;
    }
}