@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

a {
    text-decoration: none;
    color: white;
}

.HomePage-Overlay {
    font-family: Poppins;
    font-weight: bold;

    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('../../Images/majestic-mountain-peak-back-lit-by-sunset-generated-by-ai 1.png');
    filter: saturate(100%);
    background-color: #000000;
    background-size: cover;
    background-position: top center;

    transition: opacity 6s ease;
}

.HomePage-Navbar {

    width: 100vw;
    height: 75px;

    color: white;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.HomePage-Navbar-Items {
    width: 40vw;
    height: 100%;

    font-size: 1.2rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;

}

.HomePage-Navbar-Logo {
    width: 180px;
    /* height: 90px; */
}

.HomePage-Navbar-Pointer:hover {
    cursor: pointer;
}

.HomePage-Navbar-Items-Dashboard-Button {
    background-color: #AB745A;
    height: 100%;
    border-radius: 20px;

    /* height: 30px; */

    display: flex;
    align-items: center;
    justify-content: center;

    /* padding: 5px; */
}

.HomePage-Navbar-Items-Dashboard {
    width: 130px;
    height: 60%;
}

.HomePage-Navbar-Items-Dashboard-Text {
    /* padding: 5px; */
    /* margin: 5px; */
}

.HomePage-Overlay-Content {
    width: 100vw;
    height: 80vh;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;

}

.HomePage-Overlay-Content-Element {
    width: 50%;
    height: 100%;
    /* background-color: red; */

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.HomePage-Overlay-Text {
    /* background-color: black; */
    margin-left: auto;
    color: #FFFFFF;

    height: 40vh;
    width: 60%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.HomePage-Overlay-Text-Title {
    font-size: 5rem;
}

.HomePage-Overlay-Text-Title-Color {
    color: #AB745A;
}

.HomePage-Overlay-text-Button {
    border: none;
    background: none;
    color: white;
    font-family: Poppins;
    font-weight: bold;

    padding: 5px 20px;

    font-size: 1.1rem;
}

.HomePage-Overlay-Text-Button-Container {
    width: fit-content;
    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #AB745A;

    border-radius: 20px;
}

.HomePage-Overlay-Picture {
    width: 80%;

    margin-left: 5vw;
}

.scroll-indicator {
    position: fixed;
    bottom: 20px; /* Adjust the distance from the bottom as needed */
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    opacity: 0.7;
  }
  
  .arrow {
    display: block;
    width: 40px; /* Adjust the size of the arrow */
    height: 40px;
    border: solid #fff; /* Arrow color */
    border-width: 0px 4px 4px 0; 
    transition: transform 0.3s ease;
    animation: bounce 2s infinite;
  }
  
  /* Define the bounce animation */
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0) rotate(45deg);
    }
    40% {
      transform: translateY(8px) rotate(45deg); /* Adjust the bounce height */
    }
    60% {
      transform: translateY(3px) rotate(45deg); /* Adjust the bounce height */
    }
  }


.HomePage-Plans {

    width: 100vw;
    height: 100vh;

    background-color: #683F29;

}

.HomePage-Contact {
    background-color: #a58d6c;

    display: flex;
    justify-content: space-around;

    align-items: center;
    color: white;

    height: 5vh;
}

.HomePage-Plans-ShapeOne {
    width: 37%;
    position: relative;
    color: white;
}
.HomePage-Plans-ShapeOne-img {
    display: block;
    width: 100%;
    height: auto;
}

.HomePage-Plans-ShapeOne-Text {
    position: absolute;
    top: 0;
    left: 0;
    color: white; /* Text color */
    width: 75%;
    padding-left: 12.5%;
}

.HomePage-Plans-Top {
    padding-top: 25px;

    display: flex;
    flex-flow: row;
    justify-content: space-between;

    height: 45%;
}

.HomePage-Plans-ShapeOne-Text-Title {
    font-weight: bold;
    font-size: 2.5vw;
}

.HomePage-Plans-ShapeOne-Text-Desc {
    margin-top: -25px;
    font-size: 0.90vw;
}

.HomePage-Plans-ShapeTwo {
    margin-top: 50px;
    align-self: center;
    width: 10%;
}

.HomePage-Plans-ShapeThree {
    width: 18%;
    position: relative;
}

.HomePage-Plans-ShapeThree-img {
    width: 100%;
    height: auto;

    display: block;
}

.HomePage-Plans-ShapeThree-Buttons {
    position: absolute;
    top: 17.5%;
    left: 40%;
    color: white; /* Text color */
    width: 75%;

    display: flex;
}

.HomePage-Plans-ShapeThree-Buttons-Left {
    width: 3vw;
    height: 2.5vw;

    background: none;
    border: white 2px solid;
    border-radius: 45% 0px 0px 45%;

    position: relative;

    background-color: rgba(255, 255, 255, 0.1);
}

.HomePage-Plans-ShapeThree-Buttons-Right {
    width: 3vw;
    height: 2.5vw;

    background: none;
    border: white 2px solid;
    border-radius: 0px 45% 45% 0px ;

    background-color: rgba(255, 255, 255, 0.1);

    position: relative;

    margin-left: -2px;
}
.HomePage-Plans-ShapeThree-Button:hover {
    cursor: pointer;
    background: white;

    background-color: rgba(255, 255, 255, 0.5);
}

.arrow-left {
    position: absolute;
    top: 50%;
    left: 48%; /* Adjust as needed */
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 5px solid transparent; /* Adjust arrow size */
    border-bottom: 5px solid transparent; /* Adjust arrow size */
    border-right: 8px solid white; /* Adjust arrow size and color */
}

.arrow-right {
    position: absolute;
    top: 50%;
    left: 40%; /* Adjust as needed */
    transform: translateY(-50%); /* Rotate the arrow */
    width: 0;
    height: 0;
    border-top: 5px solid transparent; /* Adjust arrow size */
    border-bottom: 5px solid transparent; /* Adjust arrow size */
    border-left: 8px solid white; /* Adjust arrow size and color */
}

.HomePage-Plans-Bot {
    font-family: Poppins;

    height: 45%;

    display: flex;
    flex-flow: row nowrap;

    justify-content: space-evenly;
    align-items: center;
}

.HomePage-Plans-Industrial {
    max-width: 280px;
    width: 17.5%;
    height: 90%;

    background-color: #3b2515;
    border-radius: 25px;

    display: flex;
    flex-flow: column nowrap;

    justify-content: space-evenly;
    align-items: center;

}

.HomePage-Plans-Industrial:hover {
    cursor: pointer;
}

.HomePage-Plans-Industrial-Selected {
    max-width: 280px;
    width: 17.5%;
    height: 90%;

    background-color: #3b2515;
    border-radius: 25px;

    display: flex;
    flex-flow: column nowrap;

    justify-content: space-evenly;
    align-items: center;
}

.HomePage-Plans-Industrial-Selected:hover {
    cursor: default;
}

.HomePage-Plans-Industrial-Icon {
    aspect-ratio: 1 / 1;

    width: 35%;
    border-radius: 50%;
    height: auto;
    background-color: #B07951;

    display: flex;
    align-items: center;
    justify-content: center;
}

.HomePage-Plans-Industrial-Text-desc {
    width: 75%;
    height: 20%;

    color: white;
    font-weight: 600;
    font-size: 0.80vw;
    text-align: center;
    opacity: 0.75;
}

.HomePage-Plans-Industrial-Text-Titel {
    color: white;
    font-weight: 600;
    font-size: 1.5vw;
    /* width: 75%; */
    height: 10%;
}

.HomePage-Plans-Industrial-Button {
    width: 60%;
    height: 10%;

    text-align: center;
    color: white;
    font-weight: 600;
}

.HomePage-Plans-Industrial-Button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.HomePage-Plans-Keypoints {
    width: 17.5%;
    max-width: 220px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;

    color: white;
    height: 60%;
}

.HomePage-Plans-Keypoints-Title {
    font-size: 1.8vw;
    font-weight: 600;

    text-align: center;
}

.HomePage-Plans-Keypoints-Text {
    
    display: flex;
    align-items: center;

    font-size: 1vw;
}

.HomePage-Plans-Keypoints-Text-Container {
    height: 100%;

    display: flex;
    flex-flow: column nowrap;

    justify-content: space-evenly;
}

.HomePage-Plans-Keypoints-Button {
    width: 175px;
    height: 40px;

    background-color: #966C54;
    border: none;
    border-radius: 25px;

    color: white;
    font-weight: bold;

    font-size: 16px;
}

.HomePage-Plans-Keypoints-Button:hover {
    cursor: pointer;
    background-color: #aa826a;
}

.HomePage-Plans-Keypoints-bullet {
    width: 10px;
    height: 10px;
    border-radius: 25px;
    background-color: white;
    margin-right: 10px;
}

.HomePage-Contact-Item {
    /* font-weight: bold; */
    font-size: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.HomePage-DayAhead {
    height: 60vh;

    background-color: #683F29;

    display: flex;
    justify-content: space-evenly;
}

.HomePage-DayAhead-Graph {
    width: 40%;
    height: 75%;

    display: flex;
    align-items: center;
}

.HomePage-DayAhead-Text {
    width: 40%;
    height: 75%;

    position: relative;

}

.HomePage-DayAhead-Text-Container {
    position: absolute;

    width: 90%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 1;
    text-align: center;

    color: white;
    font-family: Poppins;
}

.HomePage-DayAhead-Text-Title {
    font-weight: bold;
    font-size: 2.5vw;

    margin-bottom: 20px;
}

@media (min-width: 1600px) {
    .HomePage-Plans-Keypoints-Text {
      font-size: 0.7vw; /* Maximum font size for viewport widths >= 768px */
    }

    .HomePage-Plans-Keypoints-Title {
        font-size: 1.5vw;
    }

    .HomePage-Plans-Keypoints-Text-Container {
        height: 40%;
    }
  }
