.pageContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.banner {
  position: relative;
  height: 200px;
  background-color: #3E2723; /* Donkerbruin */
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 40px;
  border-radius: 20px;
}

.servicesSection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding-bottom: 30px;
}

.serviceCard {
  background-color: #583a2f; /* Lichtbruin */
  height: 100px;
  border-radius: 8px;
  padding: 20px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.serviceCard:hover {
  transform: translateY(-10px) scale(1.05)!important; /* Maakt het item groter bij hover */
}

.faqSection {
  margin-top: 40px;
}

.faqTitle {
  font-size: 2rem;
  margin-bottom: 20px;
}

.faqItem {
  margin-bottom: 10px;
}

.question {
  font-size: 1.2rem;
  cursor: pointer;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
/* Kleine apparaten (telefoons, 600px en lager) */
@media only screen and (max-width: 600px) {
  .servicesSection {
    grid-template-columns: 1fr; /* Zet alle kaarten op één kolom */
  }

  .serviceCard {
    height: auto; /* Maak de hoogte flexibel om de inhoud te passen */
    padding: 15px; /* Verminder de padding voor kleinere schermen */
  }

  .banner, .faqTitle, .question {
    font-size: 1.5rem; /* Maak de tekst kleiner voor betere leesbaarheid */
  }
}

/* Middelgrote apparaten (tablets, 600px tot 900px) */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .servicesSection {
    grid-template-columns: repeat(2, 1fr); /* Gebruik twee kolommen voor tablets */
  }
}

/* Grote apparaten (desktops, 901px en hoger) */
@media only screen and (min-width: 901px) {
  .servicesSection {
    grid-template-columns: repeat(3, 1fr); /* Behoud drie kolommen voor grote schermen */
  }

  .serviceCard {
    padding: 20px; /* Grotere padding voor grotere schermen */
  }
}
